body {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    color: #6a6a6a;
    font-size: 14px;
}
.btn-success {
    color: #fff;
    background-color: #282b2a;
    border-color: #259d6d;
}

div#gral-list-index {
    background: white;
    padding: 15px;
}
.gral-list-content{
    background: white;
    padding: 15px;
}

.btn {
    border: none;
    border-radius: 0;
    font-weight: 900;
    font-size: 16px;
}
td.box-btnes {
    display: inline-flex;
}

ul.galleries {

    margin-left: 0;
    padding: 0;
    list-style: none
}
.box-content-action-gallery  {
    margin-bottom: 20px;
    height: 124px;
    overflow: hidden;
}
.box-content-action-gallery form {
    position: absolute;
    top: 0;

}
.list-file-galleries h2, .title-gral {
    text-align: center;
    margin: 0 0 25px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-gallery li {
    width: 50%;
    margin: 0;
    padding: 0;
    margin-left: 0 !important;
}
.nav-gallery li a {
    border-radius: 0;
    background: aliceblue;
}

.table-perzonalise.table-striped thead {
    background: #98c329;
    color: white;
}

.content-avatar-change.col-md-12 {
    display: inline-block;
        padding-top: 20px;
}

.content-change-input-avatar {
    float: left;
    margin-top: 70px;
}

.profile-form .control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
}
.navbar-inverse {
    background-color: #222;
    border-color: #090909;
    border-radius: 0;
}
@media (max-width: 768px) { 

ul.nav.navbar-nav.align-element-nav {
    padding-left: 40px;
}
 
}