body {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    color: #6a6a6a;
    font-size: 14px;
}
.btn-success {
    color: #fff;
    background-color: #282b2a;
    border-color: #259d6d;
}

div#gral-list-index {
    background: white;
    padding: 15px;
}
.gral-list-content{
    background: white;
    padding: 15px;
    display: inline-block;
    width: 100%;}

.btn {
    border: none;
    border-radius: 0;
    font-weight: 900;
    font-size: 16px;
}
td.box-btnes {
    display: inline-flex;
}

ul.galleries {

    margin-left: 0;
    padding: 0;
    list-style: none
}
.box-content-action-gallery  {
    margin-bottom: 20px;
    height: 124px;
    overflow: hidden;
}
.box-content-action-gallery form {
    position: absolute;
    top: 0;

}
.list-file-galleries h2, .title-gral {
    text-align: center;
    margin: 0 0 25px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-gallery li {
    width: 50%;
    margin: 0;
    padding: 0;
    margin-left: 0 !important;
}
.nav-gallery li a {
    border-radius: 0;
    background: aliceblue;
}

.table-perzonalise.table-striped thead {
    background: #98c329;
    color: white;
}

.content-avatar-change.col-md-12 {
    display: inline-block;
        padding-top: 20px;
}

.content-change-input-avatar {
    float: left;
    margin-top: 70px;
}

.profile-form .control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
}
.navbar-inverse {
    background-color: #222;
    border-color: #090909;
    border-radius: 0;
}
span.span-success {
    background: #0ea502;
    padding: 6px;
    color: white;
}
span.span-danger {
    background: #bf5329;
    padding: 6px;
    color: white;
}
.content-gral-index {
    display: inline-block;
    width: 100%;
}
/* ---------- SWITCH ---------- */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3dcd45;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*switch*/

@media (max-width: 768px) { 

ul.nav.navbar-nav.align-element-nav {
    padding-left: 40px;
}
 

 .info-taller.active-clicked {
      height: 100vh;
  }
  .content-gallery.active-clicked {
      margin-top: 0;
      transition: 1s all;
  }

  .content-gallery.active-clicked .item h1 {
        opacity: 0;
        transition: 1s all;
  }

  div#workshop-modify-container.active-clicked {
      padding: 0;
      width: 100%;
      max-width: 100%;
      transition: 1s all;
  }
  .info-taller {
      height: 100vh;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      transition: 1s all;
  }
  .item img{
    height: 280px;
    transition: 1s all;
  }
  
  .owl-carousel .owl-item img.active-clicked {
        height: 60vh;
        width: 140%;
        transition: 1s all;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1);
        margin-top: -75px;
  }

 
  .content-gallery {
        position: relative;
        transition: 1s all;
  }

  .text-related-workshop {
      width: 100%;
      height: 50vh;
      background: #fff;
      color: black;
      position: absolute;
      bottom: -40vh;
      opacity: 0;
      transition: 1s all;
      text-align: center;
  }

  .text-related-workshop.active-clicked {
        bottom: -15vh;
        opacity: 1;
        transition: 1s all;
        z-index: 99;
        
      
  }
  
  .owl-carousel .owl-item img {
      display: block;
      width: 88%;
      margin: 0 auto;
      transition: 1s all;
  }
  .owl-item.active {
      text-align: center;
      z-index: 99;
  }
  .owl-item {
        background: #ececec;
   }
  .visibility-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
  }
  .visibility-content.active-clicked{
    z-index: 999;
    opacity: 1;
  }
  .relative-conten {
    position: relative;
  }
  .content-total {
      margin-top: -22px;
      padding: 30px;
      text-align: center;
      background: #3097d1;
      color: white;
      font-size: 16px;
  }
  span.info-detail-work {
        text-align: left;
        padding: 20px;
        display: block;
    }
    .item{
        min-height: 450px;
        display: inline-block;
    }
}